:root {
    --primary-color: #d3914b;
    --secondary-color: #f6e8da;
    --tertiary-color: #181818;

    .skip {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1111111;
    }
}

body,
html {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    overflow-x: hidden;
    background-color: var(--tertiary-color);
}

#nav {
    width: 100%;
    height: 6.25em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200000;
    padding: 0;
    display: flex;
    justify-content: space-between;

    .background-color-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 0;
    -webkit-transition: height .3s;
    transition: height .3s;
    }

    .container {
        max-width: 75em;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
            padding: 2.4vw 6vw;
            width: auto;
            max-width: 100%;
            max-height: 22px;

        }
    }
    .cont {
        display: inline-flex;
        align-self: center;
        .header-cta {
        position: relative;
        display: inline-block;
        margin-right: 2.5vw;
        padding: 1rem 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        }
    }


    .nav-menu {
        display: flex;
        justify-content: flex-start;
        position: relative;
        align-items: center;
        ul {
            padding: 0;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: var(--primary-color);
                }
            }
        }
    }
}

.holder {
    position: relative;
    background-color: var(--secondary-color);
    height: 90vh;
}
.holder2 {
    position: relative;
    background-color: var(--primary-color);
    height: 90vh;
}

/* Navigation */
